# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
+ List popular languages that data scientists use
+ List commonly used libraries used by data scientists
+ List some data science tools
+ Some examples for evaluating arithemetic expression

#### Some of the popular languages that Data Scientists use are:
1. Python
2. MySQL
3. R

#### Some of the commonly used libraries used by data scientists include:
1. matplotlib
2. numpy
3. pandas

| Data Science Tools |
| ------------------- |
| Jupyter notebook |
| RStudio |
| Apache Zeppline |

### Below are few examples of evaluating arithemetic expressions in python.

In [2]:
# This is a simple arithematic expression to multiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Smruti Panda